body, html {
	overflow: hidden;
}
.content-container-sec {
    position: absolute;
    display: inline-block;
    overflow-y: auto;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: calc(100vh - 110px);
    padding: 40px;
    top: 140px;
    margin-left: 180px;
}
.content-sec {
    background-color: #f9f9f9;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    overflow: hidden;
	margin-bottom: 15px;
}
.request {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    width: 100%;
    border-bottom: 1px solid #ddd;
}
.request:last-child {
    border-bottom: none;
}
.names {
    width: 30%;
    flex: 1;
    font-size: 18px;
    color: #333;
}
.names label {
    font-weight: bold;
    color: #555;
}
.names span {
    display: block;
    margin-bottom: 10px;
    color: #666;
}
.files {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 60%;
}
.submit-form {
    width: 10%;
    align-content: end;
}

.download-file {
    display: flex;
    position: relative;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    color: #bf1b1b;
    padding: 10px 20px;
    border: 2px solid #bf1b1b;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.download-file:hover {
    background-color: #bf1b1b;
    color: #ffffff;
}
.upload-file {
    display: flex;
    position: relative;
    align-items: center;
    gap: 10px;
    color: #43a047;
    cursor: pointer;
    padding: 10px 20px;
    border: 2px solid #43a047;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.upload-file:hover {
    background-color: #43a047;
    color: #ffffff;
}
.submit-form button {
    position: relative;
    background-color: #d32f2f;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: 110px;
    height: 40px;
}
.submit-form button:hover {
    background-color: #a00303;
}
@media (max-width: 768px) {
    .request {
        flex-direction: column;
        align-items: flex-start;
    }
    .files {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}

#custom-upload {
    display: flex;
    position: relative;
    align-items: center;
    gap: 10px;
    color: #43a047;
    cursor: pointer;
    padding: 10px 20px;
    border: 2px solid #43a047;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}
#custom-upload:hover {
    background-color: #43a047;
    color: #ffffff;
}
.internship-form {
    margin-bottom: 20px; /* Adjust the value as needed */
}

.download-button{
    border: none;
    background-color: transparent;
}

