body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
}


.content-2 {
    position: absolute;
    top: 160px; /* Adjust according to your header height */
    bottom: 0;
    left: 190px;
    right: 0;
    overflow-y: auto; /* Make only the content div scrollable */
    padding: 20px;
    background-color: #fff; /* Optional: to distinguish the content area */
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Ensure 3 cards per row */
    gap: 20px; /* Adjust gap as needed */
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
	max-width: 400px;
    max-height: 380px; /* Ensure the card takes up the full height of the grid cell */
}

.card img {
    width: 100%;
    height: 200px; /* Set a fixed height for images */
    object-fit: fill; /* Ensure the image covers the area without distortion */
}

.card-body {
    padding: 15px;
    display: flex;
    flex-direction: column;
	justify-content: space-between;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin: 0 0 10px;
}

.card-text {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
}

.card-due-date {
    font-size: 12px;
    color: #999;
    margin-bottom: 10px;
}

.details-button {
    background-color: darkred;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s;
    align-self: flex-start;
}

.details-button:hover {
    background-color:  rgb(217, 4, 4);
}

@media (max-width: 1200px) {
    .content-2 {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (max-width: 768px) {
    .content-2 {
        grid-template-columns: 1fr; 
    }
    .card {
        width: 100%; 
    }
}