<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <link rel="icon" href="/İyte Logo.png">
    <link rel="stylesheet" href="/change_password_style.css">
</head>

<body>
    <div class="center container">
        <div class="top of center container">
            <img src="/İyte Logo.png" alt="IYTE">
        </div>
        <center><h1>Change Your Password</h1></center>
        <form action="/changePassword" method="POST">
            <input type="hidden" name="token" value="<%= token %>" /> 
            <label for="password">New Password:</label>
            <input type="password" style="font-size: 14px;" id="password" name="password" required>
            <label for="password">Confirm Password:</label>
            <input type="password" style="font-size: 14px;" id="confirmPassword" name="confirmPassword" required>
            <div class="change password error"></div>
            <center><button type="submit">Update Password</button></center>
            <center><a href='/'>Log in.</a></center>
        </form>
        
<script>
    const password = document.getElementById('password');
    const confirmPassword = document.getElementById('confirmPassword');
    password.addEventListener('input', function () {
        const validPassword = password.value.length >= 6;
        updateBorder(password, validPassword);
        if (confirmPassword.value) {
            updateBorder(confirmPassword, validPassword && password.value === confirmPassword.value);
        }
    });
    confirmPassword.addEventListener('input', function () {
        updateBorder(confirmPassword, password.value === confirmPassword.value && confirmPassword.value.length >= 6);
    });
    function updateBorder(input, isValid) {
        if (isValid) {
            input.style.borderColor = 'green';
            input.style.outlineColor = 'green';
            input.style.borderWidth = '2px';
            input.style.borderStyle = 'solid';
        } else {
            input.style.borderColor = 'red';
            input.style.outlineColor = 'red';
            input.style.borderWidth = '2px';
            input.style.borderStyle = 'solid';
        }
    }
</script>

<script>
    const form = document.querySelector('form');
    const error = document.querySelector('.change.password.error');

    form.addEventListener('submit', async (e) => {
        e.preventDefault();

        // Reset errors
        error.textContent = '';
        error.style.display = 'none';

        // Get values
        const password = form.password.value;
		const confirmPassword = form.confirmPassword.value;
		const token = form.token.value;

        try {
            const res = await fetch('/changePassword', { 
                method: 'POST', 
                body: JSON.stringify({ password, confirmPassword, token }),
                headers: {'Content-Type': 'application/json'}
            });
            const data = await res.json();
            if (data.error) {
                error.textContent = data.error;
                error.style.display = 'block';
            }
            if (data.success) {
                location.href = '/'; // Redirect on success
				alert(data.success);	
            }
        } catch (err) {
            error.textContent = 'Failed to communicate with the server';
            error.style.display = 'block';
        }
    });
</script>
        
</body>
</html>