<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Automated Internship System</title>
  <link rel="icon" href="https://bhib.iyte.edu.tr/wp-content/uploads/sites/115/2018/09/iyte_logo-tur.png">
  <link href="/styles.css" rel="stylesheet">
</head>

<body>
  
    <div class="left">
      <div class="image-container">
        <img src="/iyte_ceng.jpg" alt="Original Image">
        <div class="purple-overlay"></div>
      </div>
    </div>

    
    <div class="right">

      <div class="top-right">
        <div class="top-right-middle">
            <a href="https://iyte.edu.tr/" target="_blank">
                <img src="/İyte Logo.png" height="200" width="200" alt="IYTE">
            </a>
        </div>
        <div style="width: 85%; margin: 0  auto">
          <hr style="border: 1px solid black; border-color: black; opacity: 0.15;">
        </div>
      </div>

      <div class="bottom-right">
        <div class="slide-controls">
          <input type="radio" name="slide" id="register-Student" checked>
          <input type="radio" name="slide" id="register-Company">
          <label for="register-Student" class="slide registerStudent">Sign up Student</label>
          <label for="register-Company" class="slide registerCompany">Sign up Company</label>
          <div class="slider-tab"></div>
        </div>
        
        <div class="title-text">
          <div class="title registerStudent">
              <p name="page-name" class="page-name">Automated Internship System</p>
              <h1 name="header" class="header" style="font-size: 28px;">Sign Up Student</h1>
          </div>

          <div class="title registerCompany">
              <p name="page-name" class="page-name">Automated Internship System</p>
              <h1 name="header" class="header" style="font-size: 28px;">Sign Up Company</h1>
          </div>
        </div>

        <div class="form-inner">
          <form action="/signup/student" method="post" class="registerStudent" id="registerStudent">
            <div class="bottom-right-inner">
              <div class="container">
                <input type="email" style="font-size: 14px;" placeholder="Email" id="student-email" name="student-email" required>
                <div class="email error"></div>
				        <div class="duplicate error"></div>
                <input type="password" style="font-size: 14px;" placeholder="Password" id="student-password" name="student-password" required>
                <div class="password error"></div>
                <input type="password" style="font-size: 14px;" placeholder="Confirm password" id="student-confirmPassword" name="student-confirmPassword" required>
				        <div class="confirm error"></div>
                <button type="submit" value="Sign Up">Sign up</button>
                <center><li><a href='/'>You already have an account? Log in.</a></li></center>
              </div>
            </div>
          </form>
          
          <form action="/signup/company" method="post" class="registerCompany" id="registerCompany">
            <div class="bottom-right-inner">
              <div class="container">
                <div class="duplicate error"></div>
                <input type="text" style="font-size: 14px;" placeholder="Company Name" id="company-name" name="company-name" required>
                <input type="text" style="font-size: 14px;" placeholder="Representative Name" id="representative-name" name="representative-name" required>
                <input type="email" style="font-size: 14px;" placeholder="Company Email" id="company-email" name="company-email" required>
                <div class="email error"></div>
                <input type="text" style="font-size: 14px;" placeholder="Address" id="company-address" name="company-address" required>
                <input type="password" style="font-size: 14px;" placeholder="Password" id="company-password" name="company-password" required>
                <div class="password error"></div>
                <input type="password" style="font-size: 14px;" placeholder="Confirm password" id="company-confirmPassword" name="company-confirmPassword" required>
                <div class="confirm error"></div>
                <button type="submit" value="Sign Up">Sign up</button>
                <center><li><a href='/'>You already have an account? Log in.</a></li></center>
              </div>
            </div>
          </form>
        </div>

      </div>
    </div> 
<script>
	const studentForm = document.querySelector('form.registerStudent');
	const companyForm = document.querySelector('form.registerCompany');
	borderStyle = "1px solid #ccc";
	borderStyleError = '1px solid red';
	
	studentForm.addEventListener('submit', async (e) => {
	    e.preventDefault();

		const duplicateError = document.querySelector('.duplicate.error');
		const confirmError = document.querySelector('.confirm.error');
		const emailError = document.querySelector('.email.error');
		const passwordError = document.querySelector('.password.error');
	
	    // Reset errors
	    duplicateError.textContent = '';
	    confirmError.textContent = '';
	    emailError.textContent = '';
	    passwordError.textContent = '';

	    // Hide all error messages
	    document.querySelectorAll('.error').forEach(error => {
	        error.style.display = 'none';
	        //error.textContent = ''
	    });

	    // Set borders to their pervious state
	    const inputs = studentForm.querySelectorAll('input');
	    inputs.forEach(input => {
	        input.style.border = borderStyle;
	    });

	    // Get student form values
	    const email = studentForm.querySelector('#student-email').value;
	    const password = studentForm.querySelector('#student-password').value;
	    const confirmPassword = studentForm.querySelector('#student-confirmPassword').value;

	    try {
	        const res = await fetch('/signup/student', { 
	            method: 'POST', 
	            body: JSON.stringify({ email, password, confirmPassword }),
	            headers: {'Content-Type': 'application/json'}
	        });
	        const data = await res.json();
	        if (data.errors) {
	            duplicateError.textContent = data.errors.duplicate;
	            confirmError.textContent = data.errors.confirmPassword;
	            emailError.textContent = data.errors.email;
	            passwordError.textContent = data.errors.password;
	            // Show only the latest error
	            if (duplicateError.textContent !== '') {
	                duplicateError.style.display = 'block';
	            } else if (confirmError.textContent !== '') {
	                confirmError.style.display = 'block';
	                studentForm.querySelector('#student-password').style.border = borderStyleError;
	                studentForm.querySelector('#student-confirmPassword').style.border = borderStyleError;
	            } else if (emailError.textContent !== '') {
	                emailError.style.display = 'block';
	                studentForm.querySelector('#student-email').style.border = borderStyleError;
	            } else if (passwordError.textContent !== '') {
	                passwordError.style.display = 'block';
	                studentForm.querySelector('#student-password').style.border = borderStyleError;
	            }
	        }
	        if (data.student) {
	            location.assign('/student'); 
	        }
	    } catch (err) {
			console.log(err);
	        emailError.textContent = 'Failed to communicate with the server';
	    }
	});

	companyForm.addEventListener('submit', async (e) => {
	    e.preventDefault();
		const duplicateError = document.querySelector('form.registerCompany .duplicate.error');
		const confirmError = document.querySelector('form.registerCompany .confirm.error');
		const emailError = document.querySelector('form.registerCompany .email.error');
		const passwordError = document.querySelector('form.registerCompany .password.error');

	    // Reset errors
	    duplicateError.textContent = '';
	    confirmError.textContent = '';
	    emailError.textContent = '';
	    passwordError.textContent = '';

	    // Hide all error messages
	    document.querySelectorAll('.error').forEach(error => {
	        error.style.display = 'none';
	    });

	    // Set borders to their previous state
	    const inputs = companyForm.querySelectorAll('input');
	    inputs.forEach(input => {
	        input.style.border = borderStyle;
	    });

	    // Get company form values
	    const name = companyForm.querySelector('#company-name').value;
	    const username = companyForm.querySelector('#representative-name').value;
	    const email = companyForm.querySelector('#company-email').value;
	    const address = companyForm.querySelector('#company-address').value;
	    const password = companyForm.querySelector('#company-password').value;
	    const confirmPassword = companyForm.querySelector('#company-confirmPassword').value;

	    try {
	        const res = await fetch('/signup/company', { 
	            method: 'POST', 
	            body: JSON.stringify({ name, username, email, address, password, confirmPassword }),
	            headers: {'Content-Type': 'application/json'}
	        });
	        const data = await res.json();
	        if (data.errors) {
	            duplicateError.textContent = data.errors.duplicate;
	            confirmError.textContent = data.errors.confirmPassword;
	            emailError.textContent = data.errors.email;
	            passwordError.textContent = data.errors.password;
	            // Show only the latest error
	            if (duplicateError.textContent !== '') {
	                duplicateError.style.display = 'block';
	                companyForm.querySelector('#company-name').style.border = borderStyleError;
	                companyForm.querySelector('#company-email').style.border = borderStyleError;
	            } else if (confirmError.textContent !== '') {
	                confirmError.style.display = 'block';
	                companyForm.querySelector('#company-password').style.border = borderStyleError;
	                companyForm.querySelector('#company-confirmPassword').style.border = borderStyleError;
	            } else if (emailError.textContent !== '') {
	                emailError.style.display = 'block';
	                companyForm.querySelector('#company-email').style.border = borderStyleError;
	            } else if (passwordError.textContent !== '') {
	                passwordError.style.display = 'block';
	                companyForm.querySelector('#company-password').style.border = borderStyleError;
	            }
	        }
	        if (data.message) {
	            alert(data.message);
	        }
	    } catch (err) {
	        emailError.textContent = 'Failed to communicate with the server';
	    }
	});

	const registerStudentText = document.querySelector(".title-text .registerStudent");
	const registerStudentForm = document.querySelector("form.registerStudent");
	const registerCompanyForm = document.querySelector("form.registerCompany");
	const registerStudentBtn = document.querySelector("label.registerStudent");
	const registerCompanyBtn = document.querySelector("label.registerCompany");
	borderStyle = "1px solid #ccc";

	registerCompanyBtn.onclick = (()=>{
	    document.querySelectorAll('.registerStudent .error').forEach(el => el.textContent = '');
	    document.querySelectorAll('.registerStudent .error').forEach(el => el.style.display = 'none');
	    studentForm.querySelectorAll('input').forEach(input => {input.style.border = borderStyle;});
	    registerStudentForm.reset();
	    registerStudentForm.style.marginLeft = "-50%";
	    registerStudentText.style.marginLeft = "-50%";
	});
	registerStudentBtn.onclick = (()=>{
	    document.querySelectorAll('.registerCompany .error').forEach(el => el.textContent = '');
	    document.querySelectorAll('.registerCompany .error').forEach(el => el.style.display = 'none');
	    companyForm.querySelectorAll('input').forEach(input => {input.style.border = borderStyle;});
	    registerCompanyForm.reset();
	    registerStudentForm.style.marginLeft = "0%";
	    registerStudentText.style.marginLeft = "0%";
	});
</script>


</body>
</html>