<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    
</head>
<body>

    <%- include('../partials/nav') %>

    <div class="container mt-3">
        <div class="row">
            <div class="col-md-3 " >
                <div class="list-group">
                    <a href="" class="list-group-item list-group-item-action active bg-danger ">Web Geliştirme</a>
                    <a href="" class="list-group-item list-group-item-action">Mobil Uygulamalar</a>
                    <a href="" class="list-group-item list-group-item-action">Veri Analizi</a>
                    <a href="" class="list-group-item list-group-item-action">Programlama</a>
                </div>
            </div>
            <div class="col-md-9">
                <h1 class="h3 mb-3">Anasayfa</h1>
                <div class="card mb-3">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">
                                    Komple Uygulamalı Web Geliştirme
                                </h5>
                                <p class="card-text">Sıfırdan ileri seviyeye 'Web Geliştirme': Html, Css, Sass, Flexbox, Bootstrap, Javascript, Angular, JQuery, Asp.Net Mvc&Core Mvc</p>
                            </div>
                        </div>
                    </div>
                </div>


    
</body>
</html>