<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
   
    <header>
        <%- include('../partials/nav') %>
        <div id="sidebar" class="sidebar">
            <a href="/student" class="order"><button style="background-color: rgb(217, 4, 4);"><i class="fa-solid fa-house"></i>Home</button></a>
            <a href="/student/opportunities" class="order"><button >Opportunities</button></a>
            <a href="/student/applications" class="order"><button >Applications</button></a>
			<a href="/student/applications" class="order"><button>Internships</button></a>
        </div>
    </header>
    

</body>

</html>